name: Dev

on:
  push:
    branches:
      - main
    paths-ignore:
      - '**/*.md'
      - '**/*.txt'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  verify:
    name: Verify
    uses: ./.github/workflows/template_check.yml
    secrets: inherit

  test:
    name: Test
    uses: ./.github/workflows/template_test.yml
    secrets: inherit
