name: Production

on:
  push:
    tags:
      - v*

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  verify:
    name: Verify
    uses: ./.github/workflows/template_check.yml
    secrets: inherit

  test:
    name: Test
    uses: ./.github/workflows/template_test.yml
    secrets: inherit

  deploy:
    name: Deploy
    needs:
      - verify
      - test
    uses: ./.github/workflows/template_deploy.yml
    with:
      STAGE: final
    secrets: inherit