name: Test

on:
  workflow_call:

jobs:
  test:
    name: Run integration tests
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 21
      - uses: gradle/actions/setup-gradle@v4
        with:
          cache-overwrite-existing: true
          cache-cleanup: always
          cache-read-only: false
      - name: Run integration tests
        run: ./gradlew test --continue