name: Check

on:
  workflow_call:
    secrets:
      GRADLE_CACHE_ENCRYPTION_KEY:
        required: true
        description: "Key used to encrypt the cached files"

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 21
      - uses: gradle/actions/setup-gradle@v5
        with:
          cache-encryption-key: ${{ secrets.GRADLE_CACHE_ENCRYPTION_KEY }}
          cache-overwrite-existing: true
          cache-cleanup: always
          cache-read-only: false
      - run: ./gradlew check -x test
      - uses: reviewdog/action-setup@v1
        if: always()
      - name: Run reviewdog for each SARIF file
        if: always()
        env:
          REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          # Loop through all SARIF files in the build/reports directory and its subdirectories
          find build/reports -type f -name "*.sarif" | while read -r sarif_file; do
            echo "Running reviewdog for $sarif_file"
            cat "$sarif_file" | reviewdog -f=sarif -reporter=github-check -level=warning -name="$(basename "$sarif_file")"
          done
